#body 
{
    background-color: rgb(33, 32, 33);
}

.container
{
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#fotito
{
    max-height: 400px;
}

a
{
text-decoration: none;
color: black;
text-align: center;
font-weight: bold;
}